body {

    margin-top: 100px;
}
nav {
    width:100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    top: 0;
    right:0;
    position: fixed;
}
.nav_menu {
    margin-top:10px;
    padding:10px;
    text-decoration: none;
}

a:visited {
    color: rgb(77,74,74);
}
.vmark {
    color:white;
    border-radius: 5%;
    background-color: rgb(135, 191, 228);
}
a:hover {
    color:white;
    border-radius: 5%;
    background-color: lightgreen;
}
.prg {
    width: 80%;
    text-indent: 2em;
    margin:10px;
    color: rgb(77, 74, 74);
    font-size: 18px;
    word-wrap: normal;
    line-height: 1.5;
}
.prg:first-letter {
    font-size: 30px;
}
.prg_career {
    line-height: 30px;
    color: rgb(77,74,74);
    font-size: 18px;
    word-wrap: break-word;
}
.pimg {
    border-radius: 50%;
    width:250px;
    height: auto;
}
.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.clips {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.clip {
    width: 400px;
    height:400px;
}
.pics { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 100%;
}
.pic {
    width: 400px;
    height:auto;
    border-radius: 10px;
    margin-bottom: 20px;
}
.tpic {
    width: 400px;
    height:auto;
    border-radius: 10px;
    margin-bottom: 20px;
}
.bio {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}